.seo-term-two{
    background-color: var(--color-dark-black);
    padding-bottom: 130px;
    box-sizing: border-box;
    background-image: url(../img/seo-two/term/background.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    overflow: hidden;
	 border-radius: 0 0 36px 36px;
    .head{
     background-color: var(--color-gray);
     width: 100%;
     height: 76px;
     border-radius: 0 0 76px 76px;
     overflow: hidden;
    }
    &__container{
        padding-top: 72px;
        max-width: 1610px;
        overflow: hidden;
        margin: auto;
        .title{
            font-family: var(--font-evolventa) ;
            color: #fff;
            text-align: center;
            font-size: 90px;
            margin: auto;
            max-width: 1140px;
            margin-bottom: 56px;
            span{
                font-style: italic;
                color: var(--color-orange);
            }
        }
        .column{
            display: flex;
            align-items: stretch;
				justify-content: flex-start;
            flex-direction: column;
            margin: auto;
            max-width: 1240px;
            gap: 60px;
				@media (min-width:767.98px){
					display: grid;
					padding-inline: 20px;
					  
				}
            & >:nth-child(1){
               //  margin-right: auto;
                .block{
                    max-width: 952px;
                    box-sizing: border-box;
                }
                .img{
                    rotate: 11.5deg;
                    margin-top: 300px;
                }
            }
            & >:nth-child(2)[class]{
               //  margin-left: auto;
					 @media (max-width: 1075px) and (min-width: 767.98px){
						 justify-self: flex-end;
					 }
                .block{
                    max-width: 849px;
                    box-sizing: border-box;
                }
                .img{
                    rotate: -2.5deg;
                    margin-top: auto;
                }
            }
            & >:nth-child(3){
               //  margin-left: auto;
                .block{
                    max-width: 863px;
                    box-sizing: border-box;
                }
                .img{
                    rotate: -2.5deg;
                    margin-top: auto;
						  
                }
            }
       
            .row{
                display: flex;
					//  width: 100%;
					 justify-content: space-between;
               //  gap: 48px;
					.img {
						@media (max-width: 1075px){
							display: none;
						}
					}
                .block{
                    // width: 952px;
                  //   max-width: 952px;
                    background-color: #292929;
                    border-radius: 40px;
                    padding: 40px 50px;
						  @media (max-width: 1075px){
							width: 100%;
						}
                    &--title{
                        font-family: var(--font-evolventa);
                        font-size: 44px;
                        font-weight: 700;
                        color: #FE964A;
                        margin-top: 12px;
                        span{
                            font-size: 70px;
                        }
                    }
                    &--subtitle{
                        font-family: "Montserrat";
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 31px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #FE964A;
                        margin-bottom: 10px;
								margin-top: auto;
                    }
                    &--content{
                        font-size: 18px;
                        font-weight: 400;
                        color: #B9B9B9;
								line-height: 1.4;
                        margin-bottom: 30px;
                    }
                    &--bottom{
                        font-family: "Montserrat";
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 1.5;
                        color: var(--color-gray);
                    }
                }
             
            }
        }
    }
}
@media (max-width: 768px) {
    .seo-term-two{
        background-color: var(--color-dark-black);
        padding-bottom: 66px;
        box-sizing: border-box;
        .head{
         background-color: var(--color-gray);
         width: 100%;
         height: 36px;
         border-radius: 0 0 36px 36px;
        }
        &__container{
            padding: 65px 20px 0;
            .term-slider {
                position: relative;
               //  height: 570px;
                // background-color: red;
                .swiper-pagination{
                    width: 100%;
                    height: 10px;
                    position: relative;
						  margin-top: 110px;
                  //   bottom: 10px;
                }
            }
            .title{
                color: #fff;
               //  text-align: left;
                font-size: 36px;
                margin-bottom: 20px;
					 @media (max-width: 459.98px){
						  font-size: 24px;
					 }
                span{
                    font-style: italic;
                    color: var(--color-orange);
                }
            }
            .column{
                flex-direction: row;
                margin: auto;
               //  align-items: flex-start;
                gap: 20px;
                .row{
                    width: 100% !important;
                    margin:  0 auto !important;
                    display: flex;
                    align-items: flex-start;
                    // justify-content: flex-start;
                    flex-direction: column;
                    // gap: 20px;
						  height: auto;
                    .img{
                        display: none;
                    }
                    .block{
                        width: 100% !important;
                        margin: 0 auto;
                        background-color: #292929;
                        border-radius: 40px;
                        padding: 8px 20px 20px;
								height: 100%;
								display: flex;
								flex-direction: column;
                        &--title{
                            width: 100%;
                            font-size: 28px;
                            font-weight: 700;
                            color: var(--color-orange);
                            margin-top: 12px;
                            margin-bottom: 12px;
                            span{
                                font-size: 42px;
                            }
                        }
                        &--content{
                            width: 100%;
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 400;
                            color: var(--color-gray);
                            margin-bottom: 14px;
                        }
                        &--bottom{
                            font-family: "Montserrat";
                            width: 100%;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 27px;
                            color: var(--color-gray);
                        }
                    }
                }
            }
        }
    }
}