.seo-why-two{
    position: relative;
    border-radius: 76px 76px 0 0;
    background-color: #161616;
    margin-top: -250px;
    padding-bottom: 190px;
    z-index: 2;
    overflow: hidden;
    background-image: url(../img/seo-two/why/background.png);
    background-repeat: no-repeat;
    background-size: cover;
	 .finger{
		//   position: relative;
		  position: absolute;
		//   top: 40%;
		  top: 700px;
		  top: 65%;
		//   left: 330px;
		// left: initial;
		right: 0;
		width: 485px;
		@media (min-width:2120px){
			  right: 27%;
		}
		@media (max-width: 1470px){
			//   top: 740px;
		}
		  @media (max-width: 991.98px){
			width: 300px;
			//   left: 150px;
		  }
		  img{
			
		  }
	 }   
    &__container{
        border-radius: 76px 76px 0 0;
        position: relative;
        margin: auto;
        max-width: 1920px;
        padding-top: 117px;
        overflow: hidden;
		//   padding-bottom: 300px;
        &__title{
            position: relative;
            text-align: center;
            color: #fff;
            z-index: 2;
            margin-bottom: 79px;
            text-transform: uppercase;
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 100px;
            span{
                color: #FE964A;
                font-style: italic;
            }
        }
        &__content{
            display: flex;
            // justify-content: space-between;
            justify-content: center;
            align-items: flex-start;
				@media (min-width:767.98px){
					  gap: 70px;
				}
            .monitor{
               //  width: 100%;
               //  max-width: 675px;
					flex: 0 0 35.9%; /* 675/1420 */
            }
            .description{
                position: relative;
					 flex: 0 0 46.971831%; /* 667/1420 */
					 .seo-audit-two__container__form__content__button {
						// position: absolute;
						margin-bottom: 0;
						margin-top: 185px;
						// top: 55%;
						@media (max-width: 997.86px) and (min-width: 767.98px){
							//   margin-top: 300px;
						}
						@media (max-width: 767.98px){
							  margin-top: 80px;
						}
						@media (max-width: 459.98px){
							  font-size: 14px;
							  height: initial;
							  padding-block: 15px;
							  margin-top: 40px;
						}
					  }
                .list{
						position: relative;
                    &__row{
                        
                        display: flex;
                        align-items: center;
                        gap: 33px;
								&:not(:last-child) {
									margin-bottom: 86px;
									@media (max-width: 459.98px){
										  margin-bottom: 22px;
									}
								}
                        // padding-left: 36px;
                        &__count{
                            width: 100%;
									aspect-ratio: 1 / 1;
                            background-color: #FE964A;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            font-size: 40px;
                            line-height: 52px;
                            color: #fff;
									 flex: 0 0 86px;
									 @media (max-width: 991.98px){
										flex: 0 0 50px;
										font-size: 30px;
										line-height: 1.2;
									 }
									 @media (max-width: 460px){
										  flex: 1 0 30px;
									 }
                        }
                        &__text{
                            font-family: "Evolventa";
                            font-size: 28px;
                            font-weight: 700;
                            line-height: 42px;
                            letter-spacing: 0em;
                            text-align: left;
									 text-transform: uppercase;

                            color: #E8E8E8;
                            max-width: 600px;
									 @media (max-width: 1200.98px){
										  font-size: 20px;
										  line-height: 1.6;
									 }
									 @media (max-width: 767.98px){
										  font-size: 16px;
									 }
									 @media (max-width: 460px){
										  font-size: 14px;
									 }
                        }
                    }
						
                }
              
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .seo-why-two{
        position: relative;
        border-radius: 36px 36px 0 0;
        background-color: #161616;
        margin-top: 36px;
        padding-bottom: 42px;
        z-index: 2;
        overflow: hidden;
        background-image: url(../img/seo-two/why/mobile/backround.png);
        background-repeat: no-repeat;
        background-size: cover;
		  .finger{
			width: 180px;
			aspect-ratio: 1/1;
			position: absolute;
			top: 225px;
			// left: 250px;
			// bottom: 90%;
			// height: 280px;
			right: 0px;
			transform: rotate(300deg);
			@media (max-width: 459.98px){
				  width: 130px;
				//   left: initial;
				  right: 0px;
				  top: 290px;
				//   transform: rotate(300deg) translateY(-50px);
			}
			img{
				 width: 100%;
				 height: 100%;
			}
	  }  
        &__container{
            border-radius: 36px 36px 0 0;
            position: relative;
            margin: auto;
            max-width: 1920px;
            padding-top: 50px;
            &__title{
                position: relative;
                text-align: left;
                color: #fff;
                z-index: 2;
                margin-bottom: 79px;
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 700;
                line-height: 31px;
                margin-bottom: 22px;
                span{
                    color: #FE964A;
                    font-style: italic;
                }
            }
            &__content{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: flex-start;
                .monitor{
                    width: 100%;
                    max-width: 207px;
                    align-self: flex-start;
                    margin-bottom: 66px;
                }
                .description{
                    position: relative;
                    .list{
                        &__row{
                            
                            display: flex;
                            align-items: flex-start;
                            gap: 33px;
                            margin-bottom: 22px;
                            padding-left: unset;
									 @media (max-width: 459.98px){
										  gap: 10px;
									 }
                            &__count{
                                width: 100%;
                                max-width: 30px;
                                height: 30px;
                                background-color: #FE964A;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                font-size: 14px;
                                line-height: 18px;
                                color: #fff;
                            }
                            &__text{
                                font-family: "Evolventa";
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 21px;
                                letter-spacing: 0em;
                                text-align: left;
                                color: #E8E8E8;
                                max-width: 544px;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
