.analiz {
  background: #161616;
  color: white;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  &__text {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 837px;
    margin: 0;
  }
  &__btn {
    padding: 18px 65px;

    &:hover {
      opacity: 0.7;
    }
  }
}
@media screen and (max-width: 768px) {
  .analiz {
    &__text{
      font-size: 18px;
      line-height: 24px;
    }
    &__btn {
      font-size: 18px;
      line-height: 130%;
      padding: 13px 34px;
    }
  }
}